@font-face {
    font-family: 'Open Sans';
    src: url('../Font/OpenSans.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../Font/OpenSans-Italic.ttf');
    font-style: italic;
}
html, body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .heading {
    background-image: url('Images/Background.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 70px;
  }
  /* .heading::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */
  .head-strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: center;
}
.head-strip > p {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    padding: 0.25cm;
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
}

.head-strip > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.head-strip > ul > li {
    display: inline;
    padding: 0.25cm;
}

.head-strip > ul > li > a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: medium;
    color: #FFFFFF;
}
.head-strip > ul > li > a:hover {
    font-weight: 600; /* Change this to the color you want when hovering */
}
.head-strip > ul > li > a.active {
    font-weight: bold; /* Change this to the color you want when hovering */
}
.flex-container {
    margin-top: 20px;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.flex-container > img {
    margin-left: 20px;
    width: 40%;
    margin-right: 20px;
}
.bio {
    width: 55%;
}
.bio > h2 {
    color: #64687E;
}
.bio p > b > u > a {
    color: #64687E;
}
.footer-text {
    text-align: center;
    font-size: 14px; /* Adjust this value to change the font size */
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    background-color: #E8F0F0;
}
.research_type {
    margin-top: 20px;
    margin-bottom: 20px;
}
.research_type > div {
    margin-left: 25px;
    margin-right: 25px;
}
.research_type > div > h2 {
    color: #000;
}
h1 {
    text-align: center;
}
.paper {
    color: #000;
}

a {
    color: #000049;
}
a:hover {
    color: #0000AB;
}

h3 {
    margin-top: 10px;
}

code {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: "Menlo", monospace;
    font-size: 12px;
}

.pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value as needed */
    margin-top: 50px;
}