html, body {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
  }
  .heading {
    background-image: url('Images/polygonal19.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  .head-strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.head-strip > p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    padding: 0.25cm;
    font-family: 'Roboto', sans-serif;
}

.head-strip > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.head-strip > ul > li {
    display: inline;
    padding: 0.25cm;
}

.head-strip > ul > li > a {
    text-decoration: none;
    color: #000;
}
.flex-container {
    display: flex;
    align-items: start;
}

.flex-container > img {
    margin-left: 20px;
    width: 40%;
    margin-right: 20px;
}
.bio {
    width: 55%;
}
.footer-text {
    text-align: center;
    font-size: 14px; /* Adjust this value to change the font size */
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background-color: #E8F0F0;
}