@font-face {
    font-family: 'Exo 2';
    src: url('../Font/Exo2.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Exo 2';
    src: url('../Font/Exo2-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('../Font/SourceSans3.ttf');
    font-style: normal;
}
@font-face {
    font-family: 'Source Sans 3';
    src: url('../Font/SourceSans3-Italic.ttf');
    font-style: italic;
}
@font-face {
    font-family: 'PT Serif';
    src: url('../Font/PTSerif-Bold.ttf');
    font-style: bold;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    height: 100%;
  }
  body {
    display: flex;
    flex-direction: column;
  }
  main {
    flex: 1 0 auto;
  }
  .heading {
    /* background-image: url('Images/Background.jpeg'); */
    background-color: #EFEFEF;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 70px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #C3C3C3;
  }
  /* .heading::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */
  .head-strip {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    vertical-align: center;
}
.head-strip > p {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    padding: 0.25cm;
    font-family: 'Exo 2', sans-serif;
    color: #000;
}

.head-strip > ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.head-strip > ul > li {
    display: inline;
    padding: 0.25cm;
}

.head-strip > ul > li > a {
    text-decoration: none;
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    font-weight: 200;
    color: #000;
}
.head-strip > ul > li > a:hover {
    font-weight: 400; /* Change this to the color you want when hovering */
}
.head-strip > ul > li > a.active {
    font-weight: 500; /* Change this to the color you want when hovering */
}
.flex-container {
    margin-top: 20px;
    display: flex;
    align-items: start;
    margin-bottom: 20px;
}

.flex-container > img {
    margin-left: 20px;
    width: 40%;
    margin-right: 20px;
}
.bio {
    width: 55%;
}
.bio > h2 {
    color: #000;
    font-family: 'PT Serif', serif;
    font-size: 24px;
}
.bio p > b > u > a {
    color: #4C9CD0;
}
.footer-text {
    text-align: center;
    font-weight: 500;
    background-color: #FFF;
}
.research_type {
    margin-top: 20px;
    margin-bottom: 20px;
}
.research_type > div {
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 50px;
}
.research_type > div > h2 {
    color: #000;
    font-family: 'PT Serif', serif;
}

h3 {
    margin-top: 30px;
    font-family: 'PT Serif', serif;
    color: #0000AB;
}
h1 {
    text-align: center;
    font-family: 'Exo 2', sans-serif;
    font-weight: 600;
}
.paper {
    color: #000;
}

a {
    color: #4C9CD0;
}
a:hover {
    color: #0000AB;
}

code {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    color: #666;
    page-break-inside: avoid;
    font-family: "Menlo", monospace;
    font-size: 12px;
}

.pdf {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value as needed */
    margin-top: 50px;
}
.cv {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
}
.cv > p {
    font-size: 18px;
}
footer {
    margin: 0;
    padding: 0;
    border-top-width: 5px;
    border-top-style: solid;
    border-top-color: #4C9CD0;
    flex-shrink: 0;
}
.mail {
    text-decoration: none;
    color: #4C9CD0;
}